<a href="/new" class="button right">Create New Posting</a>
<h2>Current Open Postings</h2>

{{#jobs}}
  {{#if open}}
  <article class="posting">
    <h3>{{title}} - {{company}} - Posted {{date}}</h3>
    <p>
      {{shortDescription}}
    </p>
    <a href="/{{_id}}" class="button">View Job</a>
  </article>
  {{/if}}
{{/jobs}}
