<a href="/">Back to all postings</a>

{{#job}}
  <a class="button right" href="/{{_id}}/edit">Edit This Listing</a>
  <h2>{{title}} - {{company}}</h2>
  <p>
    Posted {{date}}
  </p>
  <p>
    {{shortDescription}}
  </p>
  <p>
    Responsibilities:
  </p>
  <p>
    {{details}}
  </p>
  <div class="apply">
    {{#if open}}
      <a class="button" href="/{{_id}}/apply">Apply for Job</a> This posting is still open
    {{else}}
      <p>
        This posting has been fulfilled.
      </p>
    {{/if}}
  </div>

  <h2>Current Applicants</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Link to Resume</th>
      <th></th>
    </tr>
    {{#each applicants}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td><a href="{{this.resume}}">{{this.resume}}</a></td>
        <td><a href="/delete/{{../_id}}/{{this.applicantId}}">Delete</a></td>
      </tr>
    {{/each}}
  </table>
{{/job}}
