<a href="/">Back to all postings</a>

{{#job}}
  <a class="right" href="/{{_id}}/edit">Edit This Listing</a>
  <h2>{{title}} - {{company}}</h2>
  <p>
    Posted {{date}}
  </p>
  <p>
    {{shortDescription}}
  </p>
  <p>
    Responsibilities:
  </p>
  <p>
    {{details}}
  </p>
  {{#if open}}
    <a href="/{{_id}}/apply">Apply for Job</a> This posting is still open
  {{else}}
    <p>
      This posting has been fulfilled.
    </p>
  {{/if}}

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Resume URL</th>
      <th></th>
    </tr>
    {{#each applicants}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.resume}}</td>
        <td><a href="/jobs/{{_id}}/delete/{{applicantId}}">Delete</a></td>
      </tr>
    {{/each}}
  </table>
{{/job}}
